<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>151411855446-ho2jdje96lf22uce0d6ioh82q67iu0mg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.151411855446-ho2jdje96lf22uce0d6ioh82q67iu0mg</string>
	<key>API_KEY</key>
	<string>AIzaSyBT8622ZKOZFUcziOzbee4-f-EzXHMyswc</string>
	<key>GCM_SENDER_ID</key>
	<string>151411855446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.capshockey</string>
	<key>PROJECT_ID</key>
	<string>hockeymanagement-e1f4d</string>
	<key>STORAGE_BUCKET</key>
	<string>hockeymanagement-e1f4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:151411855446:ios:cf519faea90d4079</string>
	<key>DATABASE_URL</key>
	<string>https://hockeymanagement-e1f4d.firebaseio.com</string>
</dict>
</plist>
